[submodule "src/libs/libhmat"]
	path = src/libs/libhmat
	url = http://homerreid.com/libhmat.git
[submodule "src/libs/libMDInterp"]
	path = src/libs/libMDInterp
	url = http://homerreid.com/libMDInterp.git
[submodule "src/libs/libhrutil"]
	path = src/libs/libhrutil
	url = http://homerreid.com/libhrutil.git
[submodule "src/libs/libMatProp"]
	path = src/libs/libMatProp
	url = http://homerreid.com/libMatProp.git
[submodule "src/libs/libTriInt"]
	path = src/libs/libTriInt
	url = http://homerreid.com/libTriInt.git
[submodule "src/libs/libSGJC"]
	path = src/libs/libSGJC
	url = http://homerreid.com/libSGJC.git
